<div class="friends-panel">
  <div class="tab-buttons">
  <%= link_to "Friends", friends_list_path, data: { turbo_frame: "list-region" }, id:'tab-button' %>
  <%= link_to "Pending requests", friends_requests_path, data: { turbo_frame: "list-region" }, id:'tab-button' %>  
  </div>
<%= turbo_frame_tag id="list-region" do %>
  <%= render 'friends/list'%>
<%end%>
</div>
