<div class="container-users">
  <%= render '/search-form', path: users_path %>
  <div class="users-list">
    
    <% @users.each_with_index do |user,i|%>
        <div class="user-req-tab">
          <%= render '/avatar',user: user%>
          <div><%= user.username%></div>
          <%= render '/request-buttons', user: user, i:i, requested_users: @requested_users, pending_users: @pending_users%>
        </div>
    <%end%>
    
  </div>
</div>
