<div class="friends-panel">
  <%= button_to "Friends", friends_path, data: { turbo_frame: "list-region" } %>
  <%= button_to "Pending requests", friends_requests_path, data: { turbo_frame: "list-region" } %>
  
<%= turbo_frame_tag id="list-region" %>
</div>
