<div class='feed'>
  <%= link_to 'New post', new_post_path%>
  <%@posts.each_with_index do |post,index|%>
      <%= render '/post', post: post%>
    
    <%end%>

    <% if @posts.empty?%>
      <h1 class="content-notification">You haven't created any posts or followed someone to see feed yet.</h1>
    <%end%>
  </div>

