.container-users {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.users-list{
  display:flex;
  flex-wrap: wrap;
  padding-right: 35rem;
  padding-left: 35rem;
}

.user-req-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 3px;
}

.user-container {
  gap: 20px;
  display: flex;
  justify-content: center;
  padding: 1em 4em 1em 4em;
  background-color: rgb(47, 52, 56);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  max-width: fit-content  ;
  border-radius: 5%;
  font-size: 18px;
}

.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 10px;
}
